<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include('partials/head') %>
<body>
	<!-- Header -->

	<%- include('partials/header') %>

	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/banner.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Lo más vendido </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://www.tripstore.com.ar/media/catalog/product/cache/4769e4d9f3516e60f2b4303f8e5014a8/G/Y/GY9420_0_23.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>adidas handball spezial </h2>
							<p>***UNISEX, HORMA GRANDE***
								Para pies delgados recomendamos comprar el talle inferior.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/6a245858af4d44c7b1c8227485065748_9366/Zapatillas_adidas_VL_Court_3.0_Blanco_ID6285_01_standard.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Adidas VL court</h2>
							<p>***UNISEX, HORMA GRANDE***
								Para pies delgados recomendamos comprar el talle inferior.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3475df77ddcf4286873b24d44ab7171a_9366/Zapatillas_VL_adidas_Court_Negro_ID3712_01_standard.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Adidas VL court - Negro</h2>
							<p>***UNISEX, HORMA GRANDE***
								Para pies delgados recomendamos comprar el talle inferior.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7bcefd54671c420989b6aed300cf131c_9366/Zapatillas_Samba_OG_Verde_HP7902_01_standard.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Samba OG - verdes</h2>
							<p>***UNISEX, HORMA GRANDE***
								Para pies delgados recomendamos comprar el talle inferior.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Clásicos </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://www.tripstore.com.ar/media/catalog/product/cache/25e89759b69d23d0ee436c9ddbb4ede0/F/B/FB8877-001_0.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nike air force 107 blancas</h2>
							<p>Las Nike Air Force 1 '07 grises son zapatillas de corte bajo en un tono blanco uniforme, destacando por su diseño clásico con el logo de Nike y una suela robusta a juego.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://www.tripstore.com.ar/media/catalog/product/cache/25e89759b69d23d0ee436c9ddbb4ede0/F/B/FB8877-200_0.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nike air force 107</h2>
							<p>Las Nike Air Force 1 '07 grises son zapatillas de corte bajo en un tono gris uniforme, destacando por su diseño clásico con el logo de Nike y una suela robusta a juego.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://www.tripstore.com.ar/media/catalog/product/cache/25e89759b69d23d0ee436c9ddbb4ede0/D/C/DC0774-113_0.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>nike air jordan low 1</h2>
							<p>Las Nike Air Jordan Low verdes son zapatillas de perfil bajo en un vibrante tono verde, con detalles clásicos como el logo de Jordan y una suela a juego</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="https://www.tripstore.com.ar/media/catalog/product/cache/25e89759b69d23d0ee436c9ddbb4ede0/D/V/DV0833-100_0.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nike dunk low retro</h2>
							<p>Las Nike Dunk Low Retro amarillas son zapatillas de corte bajo con un llamativo diseño en tono amarillo, equipadas con el clásico logo de Nike y una suela a juego, rememorando el estilo retro</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%-include('partials/footer')%>

	<!-- /footer -->
</body>	
</html>