<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->

	<%-include('partials/header')%>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<!-- <h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario para agregar prodcutos al catálogo. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos. <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			//////////////// -->
			</h2> 
			<form method='/product-add'>
				<div class='form-group'>
					<label for='pic'>Foto del producto</label>
					<input type='file'
					accept='image/png image/jpeg image/jpg'
					class='form-control' id='pic' name='pic'>
				</div>
				<div class="form-group">
					<label for="name">Nombre del producto</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Nombre del producto">
				</div>
				<div class="form-group	">
					<label for="description">Descripción</label>
					<textarea class="form-control" id="description" name="description" placeholder="Descripción"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Agregar producto</button>
			</form>


	<!-- footer -->

	<%- include('partials/footer')%>

	<!-- /footer -->
</body>

</html>